services:

  db:
    container_name: postgres_container
    image: postgres:14.17 
    ports:
      - "5000:5432"
    environment:
      POSTGRES_USER: db_user
      POSTGRES_PASSWORD: db_password
      POSTGRES_DB: db
    volumes:
      - ./postgres/data:/var/lib/postgresql/data